@import '../../../../assets/styles/mixins.scss';

.MapPlaceCard {
    background-color: var(--color-bg-default);
    position: relative;
    @include flex-center();
    flex-direction: column;
    border-radius: var(--control-radius);
    min-width: 240px;
    max-width: 240px;
    max-height: var(--infobox-max-height);
    padding: var(--space-l);
    box-shadow: var(--shadow-modal);

    & > * {
        &:not(:first-child) {
            width: 100%;
        }

        &:not(:last-child) {
            margin-bottom: var(--space-xs);  
        }
    }

    &-CloseButton {
        @include clear();
        position: absolute;
        top: var(--space-l);
        right: var(--space-l);
        cursor: pointer;
        color: var(--color-typo-primary);
        transition: transform 0.3s;

        &:hover {
            transform: rotate(-90deg);
        }
    }

    &-Title {
        @include flex-start();
        align-items: center;
        width: 100%;
        gap: var(--space-s);
    }

    &-TitleContainer {
        width: var(--space-3xl);
        height: var(--space-3xl);
        background: var(--color-bg-secondary);
        border-radius: 50%;
        border: 1px solid var(--color-control-bg-border-default);
        @include flex-center();

        &_hasImage {
            overflow: hidden;
            width: var(--space-5xl);
            height: var(--space-5xl);
        }
    }

    &-TitleImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-Gallery {
        overflow-x: scroll;
        @include flex-start();
        gap: var(--space-m);

        &::-webkit-scrollbar-track {
            background-color: var(--color-bg-secondary);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--color-bg-brand);
        }
    }

    &-GalleryContainer {
        min-width: var(--space-6xl);
        min-height: var(--space-6xl);
        max-width: var(--space-6xl);
        max-height: var(--space-6xl);
        overflow: hidden;
        border-radius: var(--control-radius);
    }

    &-GalleryImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-WorkTime {
        & > *:not(:last-child) {
            margin-bottom: var(--space-2xs);  
        }
    }

    &-WorkTimeContainer {
        @include flex-space-center();
        border-bottom: 1px solid var(--color-bg-secondary);
    }

    &-WorkTimeDay {
        font-weight: 600;
    }

    &-Events {
        overflow-x: scroll;
        @include flex-start();
        
        gap: var(--space-m);

        &::-webkit-scrollbar-track {
            background-color: var(--color-bg-secondary);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--color-bg-brand);
        }
    }

    &-EventContainer {
        @include clear();
        min-width: var(--space-6xl);
        max-width: var(--space-6xl);
        cursor: pointer;
    }

    &-EventImage {
        width: 100%;
        min-height: var(--space-6xl);
        max-height: var(--space-6xl);
        overflow: hidden; 
        
        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}