body,
#root,
.root {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

.Sidebar {
  z-index: 21;
}

.root {
  display: flex;
  flex-direction: column;

  background: var(--color-bg-default);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
pre {
  margin: 0;
  padding: 0;
}

img,
image {
  user-select: none;
  pointer-events: none;
}
